input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 100%;
}

.search-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  border: 2px solid rgb(20, 139, 114);
  width: 45%;
  background-color: white;
  border-radius: 8px 0 0 8px;
}

.search-wrapper {
  display: flex;
  justify-content: center;
}

.search-btn {
  padding: 10px 30px;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 20px;
  background-color: rgb(19, 170, 163);
  border-radius: 0px 8px 8px 0px;
}